<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="success == true">
                        Cliente salvo/atualizado com sucesso!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                        {{ erro }} 
                    </div>
                </div>
            </div>
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true"
                    [ngModel]="cliente.id" name="id" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" disabled="true"
                    [ngModel]="cliente.dataCadastro" name="dataCadastro" />
                </div>
            </div>
        </div>

        <div class="row">   
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="cliente.nome" name="nome" />
                </div>
            </div>  

            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.cpf" name="cpf" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Logradouro: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.logradouro" name="logradouro" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Complemento: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.complemento" name="complemento" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Bairro: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.bairro" name="bairro" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Cidade: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.cidade" name="cidade" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>UF: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.uf" name="uf" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>CEP: *</label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.cep" name="cep" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone Residencial: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.telResidencial" name="telResidencial" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone Comercial: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.telComercial" name="telComercial" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone Celular: </label>
                    <input type="text" class="form-control"
                    [(ngModel)]="cliente.telCelular" name="telCelular" />
                </div>
            </div>

         </div>
         <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" >
                    <i class="fa fa-save"></i> Salvar
                </button>
            
                <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()" >
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
         </div>
    </form>  
</div>